<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats <%= @user.first_name %></h1>
    <p>
      You have successfully published your first article!<br>
    </p>
    <p>
      To view the article, just follow this link: </p><a href= "<%= @url %>">Your First article</a>
  </body>
</html>
