/ Footer
%footer.page-footer.font-small.white
  / Copyright
  .footer-copyright.text-center.py-3
    © 2018 Copyright:
    %a Writter.co
    = link_to 'About', page_path('about')
    |
    = link_to 'Terms', page_path('terms')
    |
  / Copyright
/ Footer
