.navbar-container
  %nav.navbar.navbar-expand-lg.navbar-light{'data-sticky': 'top'}
    .container
      = link_to root_path, class: 'navbar-brand' do
        = image_tag 'logo/logo.svg', alt: 'Writter', class: 'icon'

      .d-flex.align-items-center.order-lg-3
        .py-2.py-lg-0.pr-2
          %ul.navbar-nav
            %li.nav-item
              = link_to 'Sign in', new_user_session_path, class: 'nav-link'

        = link_to 'Get Started', new_user_registration_path, class: 'btn btn-primary ml-1'
